body{
    background-image: conic-gradient(circle,red, yellow, green);
    background-color: black;
}
h1{
    font-style: oblique;
    color: white;
    text-align: left;
    padding-left: 50px;
    padding-top: 5px;
    display: inline;
} 
h2,h3{
    font-style: oblique;
    color: white;
}
a{
    text-decoration: none;
}
nav a{
    color: inherit;
}
header{
    background-image: linear-gradient(to right,gray,darkblue);
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
    height: 50px;
    background-color: rgb(76, 75, 75);
    text-align: left;
    display: flex;
    align-items: center;       
    justify-content: space-between;
    padding-bottom: 15px;
}
nav ol li{
    float: right;
    gap: 20px; /* spacing between items */
    list-style: none; /* removes numbers from the list */
    padding-right: 50px;
    margin: 0;
    color: white;
}
#AboutMe{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
}
#Me{
    padding-top: 50px;
    height: 350px;
    width: 400px;
    flex: 1;
}
#Me h2{
    color: white;
    padding-left: 100px;
    font-style:italic;
    /*font-size: 50px;*/
}
#Me p{
    color: white;
    padding-left: 100px;
    font-style: italic;
    /*font-size: 30px;*/
    line-height: 1.5;
}
#img1{
    margin-left: 0px;
    padding-top: 50px;
    display: flex;
    height: 350px;
    width: 400px;
    flex: 1;
}
#tech{
    margin-left: 200px;
    border-radius: 300px;
}
#icons{
    padding-left: 100px;
    display: flex;
    height: 50px;
    color: orange;
}
#logo{
    display: flex;
    padding-left: 20px;
    height: 30px;
    width: 30px;
}
#buttons1{
    padding-top: 30px;
    padding-left: 100px;
}
#but{
    margin-right: 50px;
    border-radius: 10px;
    background-color: white;
    height: 30px;
    width: 130px;
}
#but:hover{
    background-color: lightskyblue;
}
#Two{
    display: flex;
    height: 600px;
}
#img2{
    height: 700px;
    width: 750px;
}
#skills{
    margin-left: 100px;
    padding-top: 100px;
    height: 600px;
    width: 550px;
}
#skill{
    padding-top: 100px;
    padding-left: 150px;
    height:400px;
}
#skills h2{
    display: inline;
    padding-left: 80px;
    color: white;
    margin-left: 50px;
    /*font-size: 50px;*/
}
#skills ol li{
    color: white;
    font-size: 30px;
    font-style: italic;
    line-height: 1.5;
    margin-left: 0px;
    list-style: none;
}
#but1{
    font-size: large;
    background-image: url("https://i.pinimg.com/736x/67/c7/b6/67c7b6abd04012aeb8891ded3c660885.jpg");
    height: 150px;
    width: 250px;
    margin-left: 30px;
    margin-top: 30px;
    color: white;
}
#three{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
#skills ol{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
#Interests{
    padding-top: 50px;
    margin-left: 0px;
    padding-left: 10px;
}
#Interests ol{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
#Interests h2{
    padding-bottom: 30px;
    padding-left: 80px;
    padding-top: 30px;
    display: flex;
    margin-left: 30px;
    /*font-size: 50px;*/
    color: white;
    padding-right: 100px;
}
#five{
    color: white;
    font-size: 20px;
}
#Interests img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
#projects h2{
    /* display: flex; */
    /* margin-left: 30px; */
    /* font-size: 50px; */
    color: white;
    /* padding-right: 100px; */
}
#projects{
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#disc{
    padding-left: 80px;
    display: flex;
    padding-top: 0px;
    height: 450px;
    flex: 3;
}
#img3{
    display: flex;
    height: 450px;
    flex: 2;
}
#pro{
    margin-top: 50px;
    height: 350px;
    margin-left: 50px;
    border-radius: 300px;
}
#pro1{
    border-radius: 20px;
    margin-top: 80px;
    height: 300px;
    width: 300px;
    background-color: white;
}
#pro1 h3{
    color: black;
    padding-left: 30px;
}
#pro1 p{
    padding-left: 30px;
    padding-right: 30px;
}
#pro2{
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 80px;
    height: 300px;
    width: 300px;
    background-color: white;
}
#pro2 h3{
    color: black;
    padding-left: 50px;
}
#pro2 p{
    padding-left: 30px;
    padding-right: 30px;
}
footer{
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50px;
    background-image: linear-gradient(to left,gray,darkblue);
    margin-top: 20px;
    color: white;
    height: 75px;
    background-color: burlywood;
    align-items: center;
    line-height: 0.5;
    text-align: center;
    /* display: flex;
    justify-content: space-between;
    padding-bottom: 15px; */
}